
@import "./componentes/pie-pagina";
@import"./componentes/encabezado";
@import "./componentes/main";
@import"./componentes/barra-navegacion";
@import"./componentes/estructura";
@import"./componentes/media";
@import"./componentes/reset";

body{
    background-color: $color-body;
    
    @include tamano(null,100vh);
}
a{
    color:$color-letra-borde;
}
a{
    
    input:hover{
        border-color: white;
        color:white;
        
    }
    input:active{
        background-color: $color-letra-borde;
        border:none;
        color:white;
    }

    input.active{
        background-color: $color-letra-borde;
        border:none;
        color:white;
    }
    
}
main{
    grid-area: main;
    
    overflow: scroll;
    @include tamano(null,100vh);
    
}
article{
    div{
        h2{
            font-size: 20px;

            
        }
    }
}
.whatsapp-button {
    position: fixed;
    bottom: 40px;
    right: 20px;
    width: 10px;
    height: 60px;
    background-color: #25d366;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
    &:hover {
        background-color: #ffffff;
        transform:scale(1.2);
        
        }
    .whatsapp-icon {
    width: 40px;
    height:40px;
    border-radius: 100%;
    }
}
