@import"../base/variables";
main.diseño{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:10px;
    margin: 10px 15px;
    justify-content: center;
    img{
    
    @include tamano(auto,400px)
    }
    article{
        div{
            text-align: center;
        }
    }
}