@import "../base/mixin";
/*media queries*/
@media (min-width: 300px) and (max-width: 1024px) {
    /* … */
    p{
        font-size: 30px;
    }
    ul{
        li{
            font-size: 30px;
        }
    }
    header{

        
            div{
                h2{
                    display: none;
                }
            }
            div.dropdown{
                button{
                    display:block;
                    font-size: 30px;
                    @include tamano(80%);
                }
                ul{
                    li{
                        font-size: 30px;
                    }
                }
            }
            
            nav.barra_de_navegacion{
            a{
                display:none;
            }
            }
        
    }
    header.encabezado{
        justify-content: end;
    }
    div.inicio{
        @include tamano(null,100vh);
        
        grid-template-columns: 100%;
        grid-template-rows: 1fr 2fr 1fr 1fr;
        grid-template-areas: 
        "header header"
        "section section"
        "aside aside"
        "footer footer"
        ;
        section.local{
            img{
            width:100%;
            } 
        }
        aside.text{
            div{
                width:100%;
                justify-content: end;
            }
        }
        }
        aside.contacto{
            
            margin-left: 200px;
        }
        section{
            background-size: cover;
            justify-items: center;
            font-size: 30px;
        }
        aside{
            justify-content: center;
            font-size: 30px;
        }
        div.contacto{
            @include tamano(null,100vh);
            
            grid-template-columns: 100%;
            grid-template-rows: 1fr 2fr 2fr 2fr 1fr;
            grid-template-areas: 
            "header header"
            "section section"
            "aside aside"
            "mapa mapa"
            "footer footer"
            ;
            justify-content: center;
            section.comentario{
                
                justify-content: center;
            }
            aside{
                
                justify-content: center;
            }
            
            }
            div.pantalla-cubierta{
            main.diseño{
                justify-content: center;
                flex-direction: column;
                article{
                img{
                    width: 400px;
                    height: auto;
                }
                }
            }
        }
}


@media screen and (min-width:1025) {
    header.encabezado{
        div.dropdown{
            button{
                display:none;
            }
            
        }
        nav.barra_de_navegacion{
            display:block;
        }
    }
    
}