@import "../base/variables";
@import"../base/mixin";
footer.pie_pagina{
    justify-content: end;
    
    @include tamano($cubrir);
    grid-area: footer;
    div.pie{
        width: 100%;
        display: flex;
        
        background-color: $color-pie-pagina;
        justify-content: end;
        color:$color-body;
        padding: 10px;
    div.navegacion-pie{
        margin-right: 20%;
        justify-self: end;
        ul{
            li{
                a{
                    color:$color-body;
                }
            }
        }
        
    }
    div.contacto-pie{
        align-content: end;
            ul{
                display: flex;
                gap:8px;
                list-style: none;
                justify-content: end;
                li{
                    color:$color-body;
                    button{
                        @include tamano(40px,40px);
                    }
                }
            }
        }
    }
    }

